[alias]
    st = status
    br = branch
    co = checkout
    cp = cherry-pick
    rb = rebase
    su = submodule update --recursive
[user]
    email = sajobandi@gmail.com
    name = Endre Tamas SAJO
[pull]
    rebase = true
[core]
    editor = vim
    excludesfile = /home/xcvii/.gitignore
    whitespace = -blank-at-eof
[merge]
    ff = only

